language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install codeclimate-test-reporter coverage pyfakefs
# command to run tests
script:
  - coverage run ./test_check_docker.py
  - codeclimate-test-reporter
