[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tox = '*'
tox-pyenv = '*'
pytest = '*'
pytest-random-order = '*'
coverage = '*'
pyfakefs = '*'
pytest-cov = '*'


[requires]
python_version = "3.7"
