[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
tox = '*'
tox-pyenv = '*'
pytest = '*'
pytest-random-order = '*'
coverage = '>4.0,<4.4'
pyfakefs = '*'
pytest-cov = '<2.6'
poetry = "*"

[requires]
python_version = "3.8"
