name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  gitHubActionForPytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    name: GitHub Action
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        python -m pip install -r requirements-dev.txt
    - name: Test and coverate
      run: |
        make coverage
